version: "3.8"
services:

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - sender
      - recipient

  sender:
    build:
      context: ./sender
      dockerfile: ./Dockerfile
      args:
        VERSION: "local"
    expose:
      - 8090
    depends_on:
      - rabbitmq
    networks:
      - sender

  recipient:
    build:
      context: ./recipient
      dockerfile: ./Dockerfile
      args:
        VERSION: "local"
    expose:
      - 8091
    depends_on:
      - sender
    networks:
      - recipient

networks:
  sender:
    ipam:
      driver: default
  recipient:
    ipam:
      driver: default